<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /finalProject/
   RewriteRule ^(.+)[^gif|jpe?g|png|css|js|mp3|ogg]$ index.php
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|css|js|mp3|ogg|ico)$
   RewriteRule . /index.php [L]
    </IfModule>
