body
{
    direction: rtl;
    text-align: right;
}

.dropdown-menu {
    right: auto !important;
    left: 0 !important;
    float: left;
    text-align: right;
}

#map
{
    height: 300px;
}

#settlement_list_id ,#new_area_field_list {
    width: 94%;
    border: 1px solid #eaeaea;
    position: absolute;
    z-index: 9;
    background: #ffffff;
    list-style: none !important;
    padding-right: 2px;
}
#settlement_list_id li  ,#new_area_field_list li {
    padding: 2px;

}
#settlement_list_id li:hover ,#new_area_field_list:hover {
    background: #eaeaea;
}
#country_list_id  {
    display: none;
}

